.app-header {
  height: 70px;
  overflow: hidden;
  padding: 0px 15px;
  background: url('../../../assets/nav_bar.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
    position: absolute;
    width: calc(100% - 30px);
  .title{
      font-size: 20px;
      padding-left: 15px;
      width: 100%;
      text-align: 'left'
  }
  .search{
    width: 100%;
    margin: 0px 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 8px;
    position: relative;
    z-index: 100;
  }
}
.search-form{
  height: 0;
  background: transparent;
}
.searchWrapper{
  position: absolute;
  top:70px;
  width: 100%;
  overflow: hidden;
}