<header class="app-header flex-align">
  <div class="flex-align">
    <button type="button" class="icon-btn">
      <img src="assets/icons/back.png">
    </button>
  </div>
  <div class="flex-align-end w-100">
    <!-- <form class="w-100 search-form" (submit)="searchOpt($event)" [formGroup]="searchForm"> -->
      <span class="title" [@searchBoxAnimation]="searchState">Romantic comedy</span>
      <input [formControl]="searchText" (focus)="focusText()" (focusout)="focusOutText()" placeholder="Search for shows, movies, sports etc.."
        [@searchTextAnimation]="searchState" class="search" type="text">
    <!-- </form> -->
  </div>
  <button type="button" class="icon-btn" (click)="toggleSearch()">
    <img src="assets/icons/search.png">
  </button>
</header>
<app-search-list [loading]="_loading" [data]="results" [searched]="searched" [@searchListAnimation]="searchListToggler" class="searchWrapper"></app-search-list>
