.app-content{
    background: #171717;
    height: 100%;
    overflow: hidden;
}
.list-container{
    // padding-top: 70px;
    height:100%;
    overflow:hidden;
    app-poster-list{
        width: 100%;
    }
}